*{
	margin:0;
	padding:0;
	margin-border: border-box;
}

.scene{
	display: flex;
	background: #002;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.scene i{
	position: absolute;
	background: #fff9;
	animation: starEffect linear infinite;
}

@keyframes starEffect{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(100%);
	}
}

.scene .roquet {
	display:flex;
	justify-content:center;
	position:relative;
	animation: rocket 0.2s ease infinite;
}

@keyframes rocket{
	0%{
		transform: translateY(-5px);
	}
	50%{
		transform: translateY(5px);
	}
}

.scene .roquet::before{
	content:'';
	position: absolute;
	width: 15px;
	height: 200px;
	bottom: -200px;
	background: linear-gradient(rgb(140,12,242),transparent);

}

.scene .roquet::after{
	content:'';
	position: absolute;
	width:15px;
	height:200px;
	bottom:-200px;
	background-color:linear-gradient(rgb(140,12,242),transparent);
	filter:blur(20px);
}
